<!doctype html>
<html>
    <head>

        <link rel="stylesheet" href="//cdn.jsdelivr.net/bootstrap/3.3.4/css/bootstrap.min.css">
        <title>Razor Sample</title>
    </head>

    <body>
        <h1>Razor Sample</h1>

        @RenderBody()
    </body>
</html>